<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>내가 먹은 커피는 누가산 커피냐</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <sec:authorize access="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </sec:authorize>

        <ul class="timeline">
            <div th:each="entry, status : ${accounts}">
                <li th:attr="class=${status.odd}?'timeline-inverted':''">
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4><span th:text="${entry.loginId}">아이디</span></h4>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</body>
</html>